{% load i18n admin_urls %}

{% block object-tools-items %}
  {% if has_add_permission %}
  <li>
    {% if cl.opts.verbose_name != 'Teslimat Yapan Kişi' and cl.opts.verbose_name != 'Firma' %}
      {% url cl.opts|admin_urlname:'add' as add_url %}
      <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
        {% blocktranslate with cl.opts.verbose_name as name %}{{ name }} Ekle{% endblocktranslate %}
      </a>
    {% endif %}
  </li>
  {% endif %}
{% endblock %}
