{% extends 'base_web.html' %}
{% load static %}

{% block content %}
    <!--REFERENCES SECTION-->
    <div class="ref">
      <div class="container" style="padding-top: 8rem;">
          <div class="iconbackground">
              <img src="{% static 'momentomedya/Assets/img/referenceImages/logo-dogus.png' %}" alt="">
          </div>
          <div class="iconbackground">
              <img src="{% static 'momentomedya/Assets/img/referenceImages/logo-atv.png' %}" alt="">
          </div>
          <div class="iconbackground">
              <img src="{% static 'momentomedya/Assets/img/referenceImages/logo-iha.png' %}" alt="">
          </div>
          <div class="iconbackground">
              <img src="{% static 'momentomedya/Assets/img/referenceImages/logo-showtv.png' %}" alt="">
          </div>
          <div class="iconbackground">
              <img src="{% static 'momentomedya/Assets/img/referenceImages/logo-haberturk.png' %}" alt="">
          </div>
          <div class="iconbackground">
              <img src="{% static 'momentomedya/Assets/img/referenceImages/logo-digiturk.png' %}" alt="">
          </div>
          <div class="iconbackground">
              <img src="{% static 'momentomedya/Assets/img/referenceImages/logo-kanald.png' %}" alt="">
          </div>
          <div class="iconbackground">
              <img src="{% static 'momentomedya/Assets/img/referenceImages/logo-kule.jpg' %}" alt="">
          </div>
          <div class="iconbackground">
              <img src="{% static 'momentomedya/Assets/img/referenceImages/logo-trt.png' %}" alt="">
          </div>
          <div class="iconbackground">
              <img src="{% static 'momentomedya/Assets/img/referenceImages/logo-dha.png' %}" alt="">
          </div>
          <div class="iconbackground">
              <img src="{% static 'momentomedya/Assets/img/referenceImages/logo-afad.png' %}" alt="">
          </div>
          <div class="iconbackground">
              <img src="{% static 'momentomedya/Assets/img/referenceImages/logo-bloomberght.png' %}" alt="">
          </div>
        </div>
    </div>
    <!--END REFERENCES SECTION-->

{% endblock %}